<!DOCTYPE html>
<html>

<head>
  <title>DrawnWithMe | Index</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">  
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/lib/animate.css' />
</head>

<body>
  <div id="app" class="app">
    <template>
      <header>
        <div class="titulo">
          <h1>Room: ${nombreRoom}</h1>
        </div>
        <nav>
          <ul>
            <li>
              <a href="#" @click="train">
                <i class="material-icons">fitness_center</i>
              </a>
            </li>
            <li>
              <a href="#" @click="test">
                <i class="material-icons">flash_on</i>
              </a>
            </li>
            <li>
              <a href="#" @click="clearCanvas">
                <i class="material-icons">refresh</i>
              </a>
            </li>
            <li>
              <a href="#" @click="guess">
                <i class="material-icons">thumb_up</i>
              </a>
            </li>
            <li>
              <a href="#" @click="logout">
                <i class="material-icons">exit_to_app</i>
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <section class="section-game animated fadeIn">
        <div class="container-game">
          <div class="md4">
            <div class="loadingclass">
              <div id="p5_loading">
                <h1>Cargando!</h1>
              </div>
            </div>
            <div id="sketch-holder"></div>
          </div>
          <div class="md4 score-game">
            <p v-if="porcentajeExito"><span>Porcentaje de<br> éxito:</span> ${porcentajeExito}</p>
            <p><span>Dibuja un:</span> ${ tipoDibujo[0].tipo }</p>
            <p><span>Puntaje:</span> ${ score }</p>
            <p>${ nombreDibujo }</p>
          </div>
          <div class="md4 table-score animated fadeIn">
            <table>
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Puntuación</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(user, i) in usuarios" :key="user.id">
                  <td>${ user.name }</td>
                  <td>${ user.score }</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <section class="section-msg animated fadeIn">

            <ul id="mensajes" v-chat-scroll>
              <li v-for="(msg,i) in mensajes" :key="i" v-if="mensajes.length > 0"> <span>${msg.from}</span>: ${ msg.texto }</li>
            </ul>

        </div>
      </section>
    </template>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="lib/scroll-vue.js"></script>  
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script type="text/javascript" src="libraries/p5.min.js"></script>
  <script type="text/javascript" src="libraries/p5.dom.min.js"></script>
  <script type="text/javascript" src="loadbinary.js"></script>
  <script type="text/javascript" src="sketch.js"></script>
  <script type="text/javascript" src="libraries/nn.js"></script>
  <script type="text/javascript" src="libraries/matrix.js"></script>
  <script></script>
</body>

</html>