* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body { 
  text-rendering: optimizeLegibility;
  background-color: rgba(255, 255, 255, 0.514);
  font-size: 16px;
  color: #1488c6e0;
  font-family: 'Lato', sans-serif;
}

.md6 {
  width: 50%;
}

.md4 {
  width: 33.33%;
}

.loadingclass{
  text-align: center;
  position: relative;
  top: 200px;
}

#sketch-holder{
/*   text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center; */
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

#sketch-holder canvas {
  border-style: dotted;
}

.container-game {
  width: 1100px;
  margin: auto;
  height: 100%;
  display: flex;
}


.app {
  height: 100vh;
}

/* HEADER */

header {
  height: 10%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #1488c6e0;
  color: rgba(255, 255, 255, 0.925);
}

header > .titulo {
  width: 20%;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

header > nav > ul {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  padding-right: 10px;
  align-items: center;
}

header > nav > ul > li {
  list-style: none;  
}

header > nav > ul > li > a:hover{
  transition: 0.3s color;
  transition: 0.3s background-color;
  color: black;
  background-color: white;
}

header > nav > ul > li > a{
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 50%;
  display: flex;
}

header > nav{
  width: 80%;  
}

.section-game {
  height: 60%;
  box-sizing: border-box;
}

.section-msg {
  height: 30%;
  padding-top: 10px;
/*   overflow-y: scroll; */
  box-sizing: border-box;

  width: 980px;
  margin: auto;
  display: flex;
  text-align: center;
  overflow-y: auto;
}

.section-game .table-score {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  justify-content: center;
}

.section-game .table-score table {
  width: 80%;
  text-align: center;
  border-collapse: collapse; 
  border-spacing: 0;

}

.section-game .table-score table td,
.section-game .table-score table th { border: 1px solid #1488c6e0; } 

/* .section-msg .section-msg{  width: 100%;
  
} */

.section-msg li {
  padding: 3px;
  list-style: none;
}

.swal-title {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
}

.score-game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;

  font-size: 30px;
  font-weight: 500;
  
}

.score-game span {
  font-size: 30px;
  font-weight: bold;
}

.section-msg  ul {
  flex-grow: 1;
  overflow-y: scroll;
}

.section-msg  ul  li {
  padding: 5px;
  font-size: 18px;
}

.section-msg  ul li span{
  font-weight: bold;
}